<form method="POST">
    <h1>Univeristy of Oregon Graduation Plan Generator</h1>
    <label for="major">What is Your Major?</label>
    <input type="text" id="major" name="major" required><br><br>
    <link rel="stylesheet" href="styles.css">

    <label for="year">What year are you in? (Freshman, Sophomore, Junior, Senior)</label>
    <input type="text" id="year" name="year" required><br><br>

    <label for="sci_classes">Enter science classes taken (if any):</label>
    <input type="text" id="sci_classes" name="sci_classes"><br><br>

    <label for="cs_classes">Enter CS classes taken:</label>
    <input type="text" id="cs_classes" name="cs_classes"><br><br>

    <label for="mt_classes">Enter Math classes taken:</label>
    <input type="text" id="mt_classes" name="mt_classes"><br><br>

    <button type="submit">Generate Schedule</button>
</form>
